<h1>Stupid Coaching- Ask a question!</h1>
<div class="container">
  <form action="/answer" method="get">
    <input id ="input-form" type="text" name="question" placeholder="What would you like to ask?">
    <input type="submit" value="Ask!">
  </form>
  <p></p>
</div>
